.sidebar {
  background-color: black;
  color: white;
  width: 20rem;
  height: 100vh;
  //   position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-right: 2px solid grey;
  box-sizing: border-box;
  cursor: pointer;
  .insta-sidenav-logo {
    width: 2rem;
    height: 2rem;
    display: none;
  }
  .insta-sidenav-name {
    display: block;
  }
  .navCard {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    padding-inline: 1rem;
    border-radius: 0.6rem;
    transition: 0.4s;
    box-sizing: border-box;
    &:hover {
      background-color: rgb(42, 42, 42);
    }
    img {
      width: 1.7rem;
      height: 1.7rem;
      border-radius: 50%;
      border: 2px solid white;
    }
    .title {
      padding-left: 1rem;
      display: block;
    }
  }
}

@media screen and (max-width: 1200px) {
  .sidebar {
    width: 5rem;
    padding: 1rem;
    align-items: center;
    .insta-sidenav-name {
      display: none;
    }
    .insta-sidenav-logo {
      display: block;
    }
    .navCard {
      padding-inline: 1rem;
      width: fit-content;
      .title {
        display: none;
      }
    }
  }
}
