// follwing & followers pop-ups
$bg-transparent: rgba(0, 0, 0, 0.65);
$bg-popup: #262626;
$border-line: #363636;
$name: white;
$display-name: #a8a8a8;
$button-standard: #0095f6;
$button-hover: #0073e6;
$scrollbar-thumb: grey;
$scrollbar-bg:  rgba(128, 128, 128, 0.2);
