@import "../../../generalStyles/colors.scss";
@import "../../../generalStyles/reuseStyles.scss";

.pop-up-page {
  @include overlayPopup();
  .pop-up {
    width: 27rem;
    height: 30rem;
    background-color: $bg-popup;
    border-radius: 0.8rem;
    overflow: hidden;
    .heading {
      text-align: center;
      padding: 0.8rem;
      font-weight: 700;
      border-bottom: 1px solid $border-line;
      position: relative;
      .close-btn {
        position: absolute;
        top: auto;
        right: 1rem;
        cursor: pointer;
      }
    }
    .heading-2 {
      text-align: center;
      padding: 0.6rem;
      font-weight: 600;
      border-bottom: 1px solid $name;
    }
    .search-container {
      display: flex;
      align-items: center;
      height: 2rem;
      padding: 0.8rem;
      .material-icons {
        color: $display-name;
        font-size: 1.3rem;
      }
      input {
        border: none;
        width: 100%;
        height: 100%;
        padding-left: 0.5rem;
        background-color: transparent;
        color: $name;
        font-size: 0.9rem;
        font-weight: 600;
        &:focus {
          outline: none;
        }
      }
      input::placeholder {
        font-weight: 400;
      }
    }
    .profiles-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0 1rem;
      height: 21.3rem;
      overflow-y: scroll;
      scrollbar-color: $scrollbar-thumb $scrollbar-bg;
      .profile-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3rem;
        .info {
          display: flex;
          gap: 1rem;
          img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
          }
          .names {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            .username {
              color: $name;
              font-weight: 600;
            }
            .display-name {
              color: $display-name;
              font-weight: 400;
              font-size: 0.9rem;
            }
          }
        }
        .follow-btn {
          color: $name;
          border: none;
          height: 2.2rem;
          font-size: 0.9rem;
          font-weight: 600;
          padding-inline: 1.2rem;
          border-radius: 0.5rem;
        }
        .not-following {
          background-color: $button-standard;
        }
        .not-following:hover {
          background-color: $button-hover;
        }
        .following {
          background-color: $following-btn-bg;
        }
        .following:hover {
          background-color: $following-btn-hover;
        }
      }
    }
  }
}
