
.user-posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  .my-post {
    height: 16rem;
    position: relative;
    .overlay-content {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;
      span:last-child {
        margin-left: 1rem;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(50%);
      &:hover + .overlay-content {
        display: block;
      }
    }
  }
}
